@charset "UTF-8";
/* CSS MENU */
#cssme,
#cssme ul,
#cssme ul li,
#cssme ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssme {
  width: 100%;
  color: rgba(var(--white), 1);
}
#cssme ul ul {
  display: none;
}
#cssme > ul > li.active > ul {
  display: block;
}
#cssme > ul > li > a {
  margin: 0;
  margin-bottom: 2px;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 2;
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  font-family: "Prompt-Medium";
  text-decoration: none;
  /* background: linear-gradient(
    90deg,
    rgba(var(--theme), 0.1),
    rgba(var(--white), 0)
  );
  background-size: 100% 100%; */
  color: rgba(var(--white), 1);
  border-bottom: 1px solid rgba(var(--white), 0.1);
  /* border-radius: 32px 0px 0px 32px;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px; */

  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
#cssme > ul > li > a:hover {
  /* background: linear-gradient(
    90deg,
    rgba(var(--theme), 0.3),
    rgba(var(--white), 0)
  );
  background-size: 100% 100%; */
  color: rgba(var(--white), 1);
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
#cssme ul > li.has-sub > a:after {
  position: absolute;
  right: 16px;
  top: 19px;
  z-index: 5;
  display: block;
  height: 10px;
  width: 2px;
  background: rgba(var(--white), 1);
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#cssme ul > li.has-sub > a:before {
  position: absolute;
  right: 12px;
  top: 17px;
  display: block;
  width: 10px;
  height: 2px;
  background: rgba(var(--white), 1);
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#cssme ul > li.has-sub.open > a {
  background: linear-gradient(
    90deg,
    rgba(var(--theme), 0.1),
    rgba(var(--theme), 0.1)
  );
  background-size: 100% 100%;
}
#cssme ul > li.has-sub.open > a:after {
  right: 20px;
  top: 15px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
#cssme ul > li.has-sub.open > a:before {
  right: 10px;
  top: 19px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#cssme ul ul li a {
  padding: 10px 35px;
  cursor: pointer;
  font-size: 17px;
  line-height: 24px;
  font-weight: normal;
  font-family: "Prompt-Regular";
  text-decoration: none;
  color: rgba(var(--white), 1);
  background-color: none;
  border-bottom: 1px solid rgba(var(--white), 0.1);
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
#cssme ul ul ul li a {
  padding-left: 15px;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  font-family: "Prompt-Normal";
  text-decoration: none;
}
#cssme ul ul li a:hover {
  color: rgba(var(--white), 0.3);
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
#cssme ul ul > li.has-sub > a:after {
  top: 16px;
  right: 16px;
  background: rgba(var(--white), 1);
}
#cssme ul ul > li.has-sub > a:before {
  top: 14px;
  right: 12px;
  background: rgba(var(--white), 1);
}
#cssme li.has-sub > a {
  font-family: "Prompt-Medium";
}
/* COVER IMAGE BG */
.cover {
  background: url(cover/cover.jpg) no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.cover-images {
  background: url(cover/cover-image.jpg) no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
