@charset "utf-8";
/*---- SHOW/HIDE ----*/
.show-ww {
  display: none;
} /*1280px*/
.show-wm {
  display: none;
} /*1200px*/
.show-ws {
  display: none;
} /*1024px*/
.show-mw {
  display: none;
} /*959px*/
.show-mm {
  display: none;
} /*759px*/
.show-ms {
  display: none;
} /*639px*/
.show-sw {
  display: none;
} /*479px*/
.show-sm {
  display: none;
} /*409px*/
.show-ss {
  display: none;
} /*359px*/
/*---- PRINT ----*/
.triangle:after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  border-style: solid;
  border-width: 36px;
  border-color: transparent transparent rgba(var(--black), 1);
  transform: rotate(45deg);
}
@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
  /* Define A4 page size with custom margins */
  @page {
    size: A4;
    margin: 0.55cm 0.55cm;
  }
  .print-name {
    font-size: 14px;
    line-height: 16px;
  }
  .print-title {
    font-size: 13px;
    line-height: 15px;
  }
  .print-desc {
    font-size: 12px;
    line-height: 14px;
  }
  .print-small {
    font-size: 10px;
    line-height: 13px;
  }
  header,
  section,
  footer {
    width: 100%;
    box-sizing: border-box;
  }
  section {
    padding-bottom: 80px;
  }
  footer {
    margin-top: 80px;
    page-break-after: always;
  }
  /* Remove page break after the last footer */
  footer:last-of-type {
    page-break-after: auto;
  }
  #print-area {
    margin: 0; /* No margin */
    padding: 0; /* No padding */
  }
  table {
    margin: 0; /* No margin */
    padding: 0; /* No padding */
  }
  thead {
    display: table-header-group; /* Repeat the header on each page */
  }
  th,
  td {
    padding: 0; /* No padding */
    margin: 0; /* No margin */
  }
}
/*---- ww ----*/
@media only screen and (max-width: 1280px) {
  /*---- Size ----*/
  .size-ww {
    width: 100%;
  }
  /*---- SHOW/HIDE ----*/
  .show-ww {
    display: block;
  }
  .hide-ww {
    display: none;
  }
  /*---- Align ----*/
  .align-left-ww {
    text-align: left;
  }
  .align-center-ww {
    text-align: center;
  }
  .align-right-ww {
    text-align: right;
  }
  /*--- PADDING ---*/
  .pa0px-ww {
    padding: 0px;
  }
  .pa5px-ww {
    padding: 5px;
  }
  .pa10px-ww {
    padding: 10px;
  }
  .pa15px-ww {
    padding: 15px;
  }
  .pa20px-ww {
    padding: 20px;
  }
  /*--- MARGIN ---*/
  .ma0px-ww {
    margin: 0px;
  }
  .ma5px-ww {
    margin: 5px;
  }
  .ma10px-ww {
    margin: 10px;
  }
  .ma15px-ww {
    margin: 15px;
  }
  .ma20px-ww {
    margin: 20px;
  }
}
/*---- wm ----*/
@media only screen and (max-width: 1200px) {
  /*---- Size ----*/
  .size-wm {
    width: 100%;
  }
  /*---- SHOW/HIDE ----*/
  .show-wm {
    display: block;
  }
  .hide-wm {
    display: none;
  }
  /*---- Align ----*/
  .align-left-wm {
    text-align: left;
  }
  .align-center-wm {
    text-align: center;
  }
  .align-right-wm {
    text-align: right;
  }
  /*--- PADDING ---*/
  .pa0px-wm {
    padding: 0px;
  }
  .pa5px-wm {
    padding: 5px;
  }
  .pa10px-wm {
    padding: 10px;
  }
  .pa15px-wm {
    padding: 15px;
  }
  .pa20px-wm {
    padding: 20px;
  }
  /*--- MARGIN ---*/
  .ma0px-wm {
    margin: 0px;
  }
  .ma5px-wm {
    margin: 5px;
  }
  .ma10px-wm {
    margin: 10px;
  }
  .ma15px-wm {
    margin: 15px;
  }
  .ma20px-wm {
    margin: 20px;
  }
  /*--- COLUMN M ---*/
  .cm00wm {
    float: left;
    display: none;
    position: relative;
    width: 0%;
  }
  .cm01wm {
    float: left;
    display: block;
    position: relative;
    width: 4.16%;
  }
  .cm02wm {
    float: left;
    display: block;
    position: relative;
    width: 8.33%;
  }
  .cm03wm {
    float: left;
    display: block;
    position: relative;
    width: 12.5%;
  }
  .cm04wm {
    float: left;
    display: block;
    position: relative;
    width: 16.66%;
  }
  .cm05wm {
    float: left;
    display: block;
    position: relative;
    width: 20.83%;
  }
  .cm06wm {
    float: left;
    display: block;
    position: relative;
    width: 25%;
  }
  .cm07wm {
    float: left;
    display: block;
    position: relative;
    width: 29.16%;
  }
  .cm08wm {
    float: left;
    display: block;
    position: relative;
    width: 33.33%;
  }
  .cm09wm {
    float: left;
    display: block;
    position: relative;
    width: 37.5%;
  }
  .cm10wm {
    float: left;
    display: block;
    position: relative;
    width: 41.66%;
  }
  .cm11wm {
    float: left;
    display: block;
    position: relative;
    width: 45.83%;
  }
  .cm12wm {
    float: left;
    display: block;
    position: relative;
    width: 50%;
  }
  .cm13wm {
    float: left;
    display: block;
    position: relative;
    width: 54.16%;
  }
  .cm14wm {
    float: left;
    display: block;
    position: relative;
    width: 58.33%;
  }
  .cm15wm {
    float: left;
    display: block;
    position: relative;
    width: 62.5%;
  }
  .cm16wm {
    float: left;
    display: block;
    position: relative;
    width: 66.66%;
  }
  .cm17wm {
    float: left;
    display: block;
    position: relative;
    width: 70.83%;
  }
  .cm18wm {
    float: left;
    display: block;
    position: relative;
    width: 75%;
  }
  .cm19wm {
    float: left;
    display: block;
    position: relative;
    width: 79.16%;
  }
  .cm20wm {
    float: left;
    display: block;
    position: relative;
    width: 83.33%;
  }
  .cm21wm {
    float: left;
    display: block;
    position: relative;
    width: 87.5%;
  }
  .cm22wm {
    float: left;
    display: block;
    position: relative;
    width: 91.66%;
  }
  .cm23wm {
    float: left;
    display: block;
    position: relative;
    width: 95.83%;
  }
  .cm24wm {
    float: left;
    display: block;
    position: relative;
    width: 100%;
  }
  /*--- Flex Content ---*/
  .flex-sm-wm {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    box-sizing: border-box;
  }
  .flex-cc-wm {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  .flex-cl-wm {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
  }
  .flex-cr-wm {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
/*---- ws ----*/
@media only screen and (max-width: 1024px) {
  /*---- Size ----*/
  .size-ws {
    width: 100%;
  }
  /*---- SHOW/HIDE ----*/
  .show-ws {
    display: block;
  }
  .hide-ws {
    display: none;
  }
  /*---- Align ----*/
  .align-left-ws {
    text-align: left;
  }
  .align-center-ws {
    text-align: center;
  }
  .align-right-ws {
    text-align: right;
  }
  /*--- PADDING ---*/
  .pa0px-ws {
    padding: 0px;
  }
  .pa5px-ws {
    padding: 5px;
  }
  .pa10px-ws {
    padding: 10px;
  }
  .pa15px-ws {
    padding: 15px;
  }
  .pa20px-ws {
    padding: 20px;
  }
  /*--- MARGIN ---*/
  .ma0px-ws {
    margin: 0px;
  }
  .ma5px-ws {
    margin: 5px;
  }
  .ma10px-ws {
    margin: 10px;
  }
  .ma15px-ws {
    margin: 15px;
  }
  .ma20px-ws {
    margin: 20px;
  }
  /*--- COLUMN M ---*/
  .cm00ws {
    float: left;
    display: none;
    position: relative;
    width: 0%;
  }
  .cm01ws {
    float: left;
    display: block;
    position: relative;
    width: 4.16%;
  }
  .cm02ws {
    float: left;
    display: block;
    position: relative;
    width: 8.33%;
  }
  .cm03ws {
    float: left;
    display: block;
    position: relative;
    width: 12.5%;
  }
  .cm04ws {
    float: left;
    display: block;
    position: relative;
    width: 16.66%;
  }
  .cm05ws {
    float: left;
    display: block;
    position: relative;
    width: 20.83%;
  }
  .cm06ws {
    float: left;
    display: block;
    position: relative;
    width: 25%;
  }
  .cm07ws {
    float: left;
    display: block;
    position: relative;
    width: 29.16%;
  }
  .cm08ws {
    float: left;
    display: block;
    position: relative;
    width: 33.33%;
  }
  .cm09ws {
    float: left;
    display: block;
    position: relative;
    width: 37.5%;
  }
  .cm10ws {
    float: left;
    display: block;
    position: relative;
    width: 41.66%;
  }
  .cm11ws {
    float: left;
    display: block;
    position: relative;
    width: 45.83%;
  }
  .cm12ws {
    float: left;
    display: block;
    position: relative;
    width: 50%;
  }
  .cm13ws {
    float: left;
    display: block;
    position: relative;
    width: 54.16%;
  }
  .cm14ws {
    float: left;
    display: block;
    position: relative;
    width: 58.33%;
  }
  .cm15ws {
    float: left;
    display: block;
    position: relative;
    width: 62.5%;
  }
  .cm16ws {
    float: left;
    display: block;
    position: relative;
    width: 66.66%;
  }
  .cm17ws {
    float: left;
    display: block;
    position: relative;
    width: 70.83%;
  }
  .cm18ws {
    float: left;
    display: block;
    position: relative;
    width: 75%;
  }
  .cm19ws {
    float: left;
    display: block;
    position: relative;
    width: 79.16%;
  }
  .cm20ws {
    float: left;
    display: block;
    position: relative;
    width: 83.33%;
  }
  .cm21ws {
    float: left;
    display: block;
    position: relative;
    width: 87.5%;
  }
  .cm22ws {
    float: left;
    display: block;
    position: relative;
    width: 91.66%;
  }
  .cm23ws {
    float: left;
    display: block;
    position: relative;
    width: 95.83%;
  }
  .cm24ws {
    float: left;
    display: block;
    position: relative;
    width: 100%;
  }
  /*--- Flex Content ---*/
  .flex-sm-ws {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    box-sizing: border-box;
  }
  .flex-cc-ws {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  .flex-cl-ws {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
  }
  .flex-cr-ws {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
/*---- mw ----*/
@media only screen and (max-width: 959px) {
  /*---- Size ----*/
  .size-mw {
    width: 100%;
  }
  /*---- SHOW/HIDE ----*/
  .show-mw {
    display: block;
  }
  .hide-mw {
    display: none;
  }
  /*---- Align ----*/
  .align-left-mw {
    text-align: left;
  }
  .align-center-mw {
    text-align: center;
  }
  .align-right-mw {
    text-align: right;
  }
  /*--- PADDING ---*/
  .pa0px-mw {
    padding: 0px;
  }
  .pa5px-mw {
    padding: 5px;
  }
  .pa10px-mw {
    padding: 10px;
  }
  .pa15px-mw {
    padding: 15px;
  }
  .pa20px-mw {
    padding: 20px;
  }
  /*--- MARGIN ---*/
  .ma0px-mw {
    margin: 0px;
  }
  .ma5px-mw {
    margin: 5px;
  }
  .ma10px-mw {
    margin: 10px;
  }
  .ma15px-mw {
    margin: 15px;
  }
  .ma20px-mw {
    margin: 20px;
  }
  /*--- COLUMN M ---*/
  .cm00mw {
    float: left;
    display: none;
    position: relative;
    width: 0%;
  }
  .cm01mw {
    float: left;
    display: block;
    position: relative;
    width: 4.16%;
  }
  .cm02mw {
    float: left;
    display: block;
    position: relative;
    width: 8.33%;
  }
  .cm03mw {
    float: left;
    display: block;
    position: relative;
    width: 12.5%;
  }
  .cm04mw {
    float: left;
    display: block;
    position: relative;
    width: 16.66%;
  }
  .cm05mw {
    float: left;
    display: block;
    position: relative;
    width: 20.83%;
  }
  .cm06mw {
    float: left;
    display: block;
    position: relative;
    width: 25%;
  }
  .cm07mw {
    float: left;
    display: block;
    position: relative;
    width: 29.16%;
  }
  .cm08mw {
    float: left;
    display: block;
    position: relative;
    width: 33.33%;
  }
  .cm09mw {
    float: left;
    display: block;
    position: relative;
    width: 37.5%;
  }
  .cm10mw {
    float: left;
    display: block;
    position: relative;
    width: 41.66%;
  }
  .cm11mw {
    float: left;
    display: block;
    position: relative;
    width: 45.83%;
  }
  .cm12mw {
    float: left;
    display: block;
    position: relative;
    width: 50%;
  }
  .cm13mw {
    float: left;
    display: block;
    position: relative;
    width: 54.16%;
  }
  .cm14mw {
    float: left;
    display: block;
    position: relative;
    width: 58.33%;
  }
  .cm15mw {
    float: left;
    display: block;
    position: relative;
    width: 62.5%;
  }
  .cm16mw {
    float: left;
    display: block;
    position: relative;
    width: 66.66%;
  }
  .cm17mw {
    float: left;
    display: block;
    position: relative;
    width: 70.83%;
  }
  .cm18mw {
    float: left;
    display: block;
    position: relative;
    width: 75%;
  }
  .cm19mw {
    float: left;
    display: block;
    position: relative;
    width: 79.16%;
  }
  .cm20mw {
    float: left;
    display: block;
    position: relative;
    width: 83.33%;
  }
  .cm21mw {
    float: left;
    display: block;
    position: relative;
    width: 87.5%;
  }
  .cm22mw {
    float: left;
    display: block;
    position: relative;
    width: 91.66%;
  }
  .cm23mw {
    float: left;
    display: block;
    position: relative;
    width: 95.83%;
  }
  .cm24mw {
    float: left;
    display: block;
    position: relative;
    width: 100%;
  }
  /*--- Flex Content ---*/
  .flex-sm-mw {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    box-sizing: border-box;
  }
  .flex-cc-mw {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  .flex-cl-mw {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
  }
  .flex-cr-mw {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
/*---- mm ----*/
@media only screen and (max-width: 759px) {
  /*---- Size ----*/
  .size-mm {
    width: 100%;
  }
  /*---- SHOW/HIDE ----*/
  .show-mm {
    display: block;
  }
  .hide-mm {
    display: none;
  }
  /*---- Align ----*/
  .align-left-mm {
    text-align: left;
  }
  .align-center-mm {
    text-align: center;
  }
  .align-right-mm {
    text-align: right;
  }
  /*---- Fonts Size ----*/
  .fz-max {
    font-size: 64px;
    line-height: 72px;
  }
  .fz-large {
    font-size: 56px;
    line-height: 64px;
  }
  .fz-fit {
    font-size: 48px;
    line-height: 56px;
  }
  .fz-hero {
    font-size: 42px;
    line-height: 48px;
  }
  .fz-super {
    font-size: 32px;
    line-height: 42px;
  }
  .fz-biger,
  .ql-editor .ql-size-huge,
  .ql-size-huge,
  h1 {
    font-size: 28px;
    line-height: 32px;
  }
  .fz-big,
  h2 {
    font-size: 20px;
    line-height: 28px;
  }
  .fz-name,
  .ql-editor .ql-size-large,
  .ql-size-large,
  h3 {
    font-size: 18px;
    line-height: 24px;
  }
  .fz-title,
  p {
    font-size: 14px;
    line-height: 18px;
  }
  .fz-desc,
  .ql-editor .ql-size-small,
  .ql-size-small {
    font-size: 12px;
    line-height: 16px;
  }
  .fz-small {
    font-size: 11px;
    line-height: 15px;
  }
  .fz-x-small {
    font-size: 10px;
    line-height: 13px;
  }
  /*--- PADDING ---*/
  .pa0px-mm {
    padding: 0px;
  }
  .pa5px-mm {
    padding: 5px;
  }
  .pa10px-mm {
    padding: 10px;
  }
  .pa15px-mm {
    padding: 15px;
  }
  .pa20px-mm {
    padding: 20px;
  }
  /*--- MARGIN ---*/
  .ma0px-mm {
    margin: 0px;
  }
  .ma5px-mm {
    margin: 5px;
  }
  .ma10px-mm {
    margin: 10px;
  }
  .ma15px-mm {
    margin: 15px;
  }
  .ma20px-mm {
    margin: 20px;
  }
  /*--- COLUMN M ---*/
  .cm00mm {
    float: left;
    display: none;
    position: relative;
    width: 0%;
  }
  .cm01mm {
    float: left;
    display: block;
    position: relative;
    width: 4.16%;
  }
  .cm02mm {
    float: left;
    display: block;
    position: relative;
    width: 8.33%;
  }
  .cm03mm {
    float: left;
    display: block;
    position: relative;
    width: 12.5%;
  }
  .cm04mm {
    float: left;
    display: block;
    position: relative;
    width: 16.66%;
  }
  .cm05mm {
    float: left;
    display: block;
    position: relative;
    width: 20.83%;
  }
  .cm06mm {
    float: left;
    display: block;
    position: relative;
    width: 25%;
  }
  .cm07mm {
    float: left;
    display: block;
    position: relative;
    width: 29.16%;
  }
  .cm08mm {
    float: left;
    display: block;
    position: relative;
    width: 33.33%;
  }
  .cm09mm {
    float: left;
    display: block;
    position: relative;
    width: 37.5%;
  }
  .cm10mm {
    float: left;
    display: block;
    position: relative;
    width: 41.66%;
  }
  .cm11mm {
    float: left;
    display: block;
    position: relative;
    width: 45.83%;
  }
  .cm12mm {
    float: left;
    display: block;
    position: relative;
    width: 50%;
  }
  .cm13mm {
    float: left;
    display: block;
    position: relative;
    width: 54.16%;
  }
  .cm14mm {
    float: left;
    display: block;
    position: relative;
    width: 58.33%;
  }
  .cm15mm {
    float: left;
    display: block;
    position: relative;
    width: 62.5%;
  }
  .cm16mm {
    float: left;
    display: block;
    position: relative;
    width: 66.66%;
  }
  .cm17mm {
    float: left;
    display: block;
    position: relative;
    width: 70.83%;
  }
  .cm18mm {
    float: left;
    display: block;
    position: relative;
    width: 75%;
  }
  .cm19mm {
    float: left;
    display: block;
    position: relative;
    width: 79.16%;
  }
  .cm20mm {
    float: left;
    display: block;
    position: relative;
    width: 83.33%;
  }
  .cm21mm {
    float: left;
    display: block;
    position: relative;
    width: 87.5%;
  }
  .cm22mm {
    float: left;
    display: block;
    position: relative;
    width: 91.66%;
  }
  .cm23mm {
    float: left;
    display: block;
    position: relative;
    width: 95.83%;
  }
  .cm24mm {
    float: left;
    display: block;
    position: relative;
    width: 100%;
  }
  /*--- Flex Content ---*/
  .flex-sm-mm {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    box-sizing: border-box;
  }
  .flex-cc-mm {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  .flex-cl-mm {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
  }
  .flex-cr-mm {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  #indexpop,
  #pop {
    margin-left: -50%;
    padding: 30px;
    width: 100%;
    top: 0;
  }
}
/*---- ms ----*/
@media only screen and (max-width: 639px) {
  /*---- Size ----*/
  .size-ms {
    width: 100%;
  }
  /*---- SHOW/HIDE ----*/
  .show-ms {
    display: block;
  }
  .hide-ms {
    display: none;
  }
  /*---- Align ----*/
  .align-left-ms {
    text-align: left;
  }
  .align-center-ms {
    text-align: center;
  }
  .align-right-ms {
    text-align: right;
  }
  /*--- PADDING ---*/
  .pa0px-ms {
    padding: 0px;
  }
  .pa5px-ms {
    padding: 5px;
  }
  .pa10px-ms {
    padding: 10px;
  }
  .pa15px-ms {
    padding: 15px;
  }
  .pa20px-ms {
    padding: 20px;
  }
  /*--- MARGIN ---*/
  .ma0px-ms {
    margin: 0px;
  }
  .ma5px-ms {
    margin: 5px;
  }
  .ma10px-ms {
    margin: 10px;
  }
  .ma15px-ms {
    margin: 15px;
  }
  .ma20px-ms {
    margin: 20px;
  }
  /*--- COLUMN M ---*/
  .cm00ms {
    float: left;
    display: none;
    position: relative;
    width: 0%;
  }
  .cm01ms {
    float: left;
    display: block;
    position: relative;
    width: 4.16%;
  }
  .cm02ms {
    float: left;
    display: block;
    position: relative;
    width: 8.33%;
  }
  .cm03ms {
    float: left;
    display: block;
    position: relative;
    width: 12.5%;
  }
  .cm04ms {
    float: left;
    display: block;
    position: relative;
    width: 16.66%;
  }
  .cm05ms {
    float: left;
    display: block;
    position: relative;
    width: 20.83%;
  }
  .cm06ms {
    float: left;
    display: block;
    position: relative;
    width: 25%;
  }
  .cm07ms {
    float: left;
    display: block;
    position: relative;
    width: 29.16%;
  }
  .cm08ms {
    float: left;
    display: block;
    position: relative;
    width: 33.33%;
  }
  .cm09ms {
    float: left;
    display: block;
    position: relative;
    width: 37.5%;
  }
  .cm10ms {
    float: left;
    display: block;
    position: relative;
    width: 41.66%;
  }
  .cm11ms {
    float: left;
    display: block;
    position: relative;
    width: 45.83%;
  }
  .cm12ms {
    float: left;
    display: block;
    position: relative;
    width: 50%;
  }
  .cm13ms {
    float: left;
    display: block;
    position: relative;
    width: 54.16%;
  }
  .cm14ms {
    float: left;
    display: block;
    position: relative;
    width: 58.33%;
  }
  .cm15ms {
    float: left;
    display: block;
    position: relative;
    width: 62.5%;
  }
  .cm16ms {
    float: left;
    display: block;
    position: relative;
    width: 66.66%;
  }
  .cm17ms {
    float: left;
    display: block;
    position: relative;
    width: 70.83%;
  }
  .cm18ms {
    float: left;
    display: block;
    position: relative;
    width: 75%;
  }
  .cm19ms {
    float: left;
    display: block;
    position: relative;
    width: 79.16%;
  }
  .cm20ms {
    float: left;
    display: block;
    position: relative;
    width: 83.33%;
  }
  .cm21ms {
    float: left;
    display: block;
    position: relative;
    width: 87.5%;
  }
  .cm22ms {
    float: left;
    display: block;
    position: relative;
    width: 91.66%;
  }
  .cm23ms {
    float: left;
    display: block;
    position: relative;
    width: 95.83%;
  }
  .cm24ms {
    float: left;
    display: block;
    position: relative;
    width: 100%;
  }
  /*--- Flex Content ---*/
  .flex-sm-ms {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    box-sizing: border-box;
  }
  .flex-cc-ms {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  .flex-cl-ms {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
  }
  .flex-cr-ms {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
/*---- sw ----*/
@media only screen and (max-width: 479px) {
  /*---- Size ----*/
  .size-sw {
    width: 100%;
  }
  /*---- SHOW/HIDE ----*/
  .show-sw {
    display: block;
  }
  .hide-sw {
    display: none;
  }
  /*---- Align ----*/
  .align-left-sw {
    text-align: left;
  }
  .align-center-sw {
    text-align: center;
  }
  .align-right-sw {
    text-align: right;
  }
  /*--- PADDING ---*/
  .paxxpx {
    padding: 12px 5px;
  }
  .pa0px-sw {
    padding: 0px;
  }
  .pa5px-sw {
    padding: 5px;
  }
  .pa10px-sw {
    padding: 10px;
  }
  .pa15px-sw {
    padding: 15px;
  }
  .pa20px-sw {
    padding: 20px;
  }
  /*--- MARGIN ---*/
  .ma0px-sw {
    margin: 0px;
  }
  .ma5px-sw {
    margin: 5px;
  }
  .ma10px-sw {
    margin: 10px;
  }
  .ma15px-sw {
    margin: 15px;
  }
  .ma20px-sw {
    margin: 20px;
  }
  /*--- COLUMN M ---*/
  .cm00sw {
    float: left;
    display: none;
    position: relative;
    width: 0%;
  }
  .cm01sw {
    float: left;
    display: block;
    position: relative;
    width: 4.16%;
  }
  .cm02sw {
    float: left;
    display: block;
    position: relative;
    width: 8.33%;
  }
  .cm03sw {
    float: left;
    display: block;
    position: relative;
    width: 12.5%;
  }
  .cm04sw {
    float: left;
    display: block;
    position: relative;
    width: 16.66%;
  }
  .cm05sw {
    float: left;
    display: block;
    position: relative;
    width: 20.83%;
  }
  .cm06sw {
    float: left;
    display: block;
    position: relative;
    width: 25%;
  }
  .cm07sw {
    float: left;
    display: block;
    position: relative;
    width: 29.16%;
  }
  .cm08sw {
    float: left;
    display: block;
    position: relative;
    width: 33.33%;
  }
  .cm09sw {
    float: left;
    display: block;
    position: relative;
    width: 37.5%;
  }
  .cm10sw {
    float: left;
    display: block;
    position: relative;
    width: 41.66%;
  }
  .cm11sw {
    float: left;
    display: block;
    position: relative;
    width: 45.83%;
  }
  .cm12sw {
    float: left;
    display: block;
    position: relative;
    width: 50%;
  }
  .cm13sw {
    float: left;
    display: block;
    position: relative;
    width: 54.16%;
  }
  .cm14sw {
    float: left;
    display: block;
    position: relative;
    width: 58.33%;
  }
  .cm15sw {
    float: left;
    display: block;
    position: relative;
    width: 62.5%;
  }
  .cm16sw {
    float: left;
    display: block;
    position: relative;
    width: 66.66%;
  }
  .cm17sw {
    float: left;
    display: block;
    position: relative;
    width: 70.83%;
  }
  .cm18sw {
    float: left;
    display: block;
    position: relative;
    width: 75%;
  }
  .cm19sw {
    float: left;
    display: block;
    position: relative;
    width: 79.16%;
  }
  .cm20sw {
    float: left;
    display: block;
    position: relative;
    width: 83.33%;
  }
  .cm21sw {
    float: left;
    display: block;
    position: relative;
    width: 87.5%;
  }
  .cm22sw {
    float: left;
    display: block;
    position: relative;
    width: 91.66%;
  }
  .cm23sw {
    float: left;
    display: block;
    position: relative;
    width: 95.83%;
  }
  .cm24sw {
    float: left;
    display: block;
    position: relative;
    width: 100%;
  }
  /*--- Flex Content ---*/
  .flex-sm-sw {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    box-sizing: border-box;
  }
  .flex-cc-sw {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  .flex-cl-sw {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
  }
  .flex-cr-sw {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
/*---- sm ----*/
@media only screen and (max-width: 409px) {
  /*---- Size ----*/
  .size-sm {
    width: 100%;
  }
  /*---- SHOW/HIDE ----*/
  .show-sm {
    display: block;
  }
  .hide-sm {
    display: none;
  }
  /*---- Align ----*/
  .align-left-sm {
    text-align: left;
  }
  .align-center-sm {
    text-align: center;
  }
  .align-right-sm {
    text-align: right;
  }
  /*---- Fonts Size ----*/
  .fz-max {
    font-size: 56px;
    line-height: 64px;
  }
  .fz-large {
    font-size: 48px;
    line-height: 56px;
  }
  .fz-fit {
    font-size: 42px;
    line-height: 48px;
  }
  .fz-hero {
    font-size: 36px;
    line-height: 42px;
  }
  .fz-super {
    font-size: 28px;
    line-height: 36px;
  }
  .fz-biger,
  .ql-editor .ql-size-huge,
  .ql-size-huge,
  h1 {
    font-size: 24px;
    line-height: 28px;
  }
  .fz-big,
  h2 {
    font-size: 18px;
    line-height: 24px;
  }
  .fz-name,
  .ql-editor .ql-size-large,
  .ql-size-large,
  h3 {
    font-size: 16px;
    line-height: 22px;
  }
  .fz-title,
  p {
    font-size: 13px;
    line-height: 18px;
  }
  .fz-desc,
  .ql-editor .ql-size-small,
  .ql-size-small {
    font-size: 11px;
    line-height: 14px;
  }
  .fz-small {
    font-size: 10px;
    line-height: 13px;
  }
  .fz-x-small {
    font-size: 9px;
    line-height: 12px;
  }
  /*--- PADDING ---*/
  .paxxpx {
    padding: 12px 2px;
  }
  .pa0px-sm {
    padding: 0px;
  }
  .pa5px-sm {
    padding: 5px;
  }
  .pa10px-sm {
    padding: 10px;
  }
  .pa15px-sm {
    padding: 15px;
  }
  .pa20px-sm {
    padding: 20px;
  }
  /*--- MARGIN ---*/
  .ma0px-sm {
    margin: 0px;
  }
  .ma5px-sm {
    margin: 5px;
  }
  .ma10px-sm {
    margin: 10px;
  }
  .ma15px-sm {
    margin: 15px;
  }
  .ma20px-sm {
    margin: 20px;
  }
  /*--- COLUMN M ---*/
  .cm00sm {
    float: left;
    display: none;
    position: relative;
    width: 0%;
  }
  .cm01sm {
    float: left;
    display: block;
    position: relative;
    width: 4.16%;
  }
  .cm02sm {
    float: left;
    display: block;
    position: relative;
    width: 8.33%;
  }
  .cm03sm {
    float: left;
    display: block;
    position: relative;
    width: 12.5%;
  }
  .cm04sm {
    float: left;
    display: block;
    position: relative;
    width: 16.66%;
  }
  .cm05sm {
    float: left;
    display: block;
    position: relative;
    width: 20.83%;
  }
  .cm06sm {
    float: left;
    display: block;
    position: relative;
    width: 25%;
  }
  .cm07sm {
    float: left;
    display: block;
    position: relative;
    width: 29.16%;
  }
  .cm08sm {
    float: left;
    display: block;
    position: relative;
    width: 33.33%;
  }
  .cm09sm {
    float: left;
    display: block;
    position: relative;
    width: 37.5%;
  }
  .cm10sm {
    float: left;
    display: block;
    position: relative;
    width: 41.66%;
  }
  .cm11sm {
    float: left;
    display: block;
    position: relative;
    width: 45.83%;
  }
  .cm12sm {
    float: left;
    display: block;
    position: relative;
    width: 50%;
  }
  .cm13sm {
    float: left;
    display: block;
    position: relative;
    width: 54.16%;
  }
  .cm14sm {
    float: left;
    display: block;
    position: relative;
    width: 58.33%;
  }
  .cm15sm {
    float: left;
    display: block;
    position: relative;
    width: 62.5%;
  }
  .cm16sm {
    float: left;
    display: block;
    position: relative;
    width: 66.66%;
  }
  .cm17sm {
    float: left;
    display: block;
    position: relative;
    width: 70.83%;
  }
  .cm18sm {
    float: left;
    display: block;
    position: relative;
    width: 75%;
  }
  .cm19sm {
    float: left;
    display: block;
    position: relative;
    width: 79.16%;
  }
  .cm20sm {
    float: left;
    display: block;
    position: relative;
    width: 83.33%;
  }
  .cm21sm {
    float: left;
    display: block;
    position: relative;
    width: 87.5%;
  }
  .cm22sm {
    float: left;
    display: block;
    position: relative;
    width: 91.66%;
  }
  .cm23sm {
    float: left;
    display: block;
    position: relative;
    width: 95.83%;
  }
  .cm24sm {
    float: left;
    display: block;
    position: relative;
    width: 100%;
  }
  /*--- Flex Content ---*/
  .flex-sm-sm {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    box-sizing: border-box;
  }
  .flex-cc-sm {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  .flex-cl-sm {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
  }
  .flex-cr-sm {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
/*---- ss ----*/
@media only screen and (max-width: 359px) {
  /*---- Size ----*/
  .size-ss {
    width: 100%;
  }
  /*---- SHOW/HIDE ----*/
  .show-ss {
    display: block;
  }
  .hide-ss {
    display: none;
  }
  /*---- Align ----*/
  .align-left-ss {
    text-align: left;
  }
  .align-center-ss {
    text-align: center;
  }
  .align-right-ss {
    text-align: right;
  }
  /*--- PADDING ---*/
  .pa0px-ss {
    padding: 0px;
  }
  .pa5px-ss {
    padding: 5px;
  }
  .pa10px-ss {
    padding: 10px;
  }
  .pa15px-ss {
    padding: 15px;
  }
  .pa20px-ss {
    padding: 20px;
  }
  /*--- MARGIN ---*/
  .ma0px-ss {
    margin: 0px;
  }
  .ma5px-ss {
    margin: 5px;
  }
  .ma10px-ss {
    margin: 10px;
  }
  .ma15px-ss {
    margin: 15px;
  }
  .ma20px-ss {
    margin: 20px;
  }
  /*--- COLUMN M ---*/
  .cm00ss {
    float: left;
    display: none;
    position: relative;
    width: 0%;
  }
  .cm01ss {
    float: left;
    display: block;
    position: relative;
    width: 4.16%;
  }
  .cm02ss {
    float: left;
    display: block;
    position: relative;
    width: 8.33%;
  }
  .cm03ss {
    float: left;
    display: block;
    position: relative;
    width: 12.5%;
  }
  .cm04ss {
    float: left;
    display: block;
    position: relative;
    width: 16.66%;
  }
  .cm05ss {
    float: left;
    display: block;
    position: relative;
    width: 20.83%;
  }
  .cm06ss {
    float: left;
    display: block;
    position: relative;
    width: 25%;
  }
  .cm07ss {
    float: left;
    display: block;
    position: relative;
    width: 29.16%;
  }
  .cm08ss {
    float: left;
    display: block;
    position: relative;
    width: 33.33%;
  }
  .cm09ss {
    float: left;
    display: block;
    position: relative;
    width: 37.5%;
  }
  .cm10ss {
    float: left;
    display: block;
    position: relative;
    width: 41.66%;
  }
  .cm11ss {
    float: left;
    display: block;
    position: relative;
    width: 45.83%;
  }
  .cm12ss {
    float: left;
    display: block;
    position: relative;
    width: 50%;
  }
  .cm13ss {
    float: left;
    display: block;
    position: relative;
    width: 54.16%;
  }
  .cm14ss {
    float: left;
    display: block;
    position: relative;
    width: 58.33%;
  }
  .cm15ss {
    float: left;
    display: block;
    position: relative;
    width: 62.5%;
  }
  .cm16ss {
    float: left;
    display: block;
    position: relative;
    width: 66.66%;
  }
  .cm17ss {
    float: left;
    display: block;
    position: relative;
    width: 70.83%;
  }
  .cm18ss {
    float: left;
    display: block;
    position: relative;
    width: 75%;
  }
  .cm19ss {
    float: left;
    display: block;
    position: relative;
    width: 79.16%;
  }
  .cm20ss {
    float: left;
    display: block;
    position: relative;
    width: 83.33%;
  }
  .cm21ss {
    float: left;
    display: block;
    position: relative;
    width: 87.5%;
  }
  .cm22ss {
    float: left;
    display: block;
    position: relative;
    width: 91.66%;
  }
  .cm23ss {
    float: left;
    display: block;
    position: relative;
    width: 95.83%;
  }
  .cm24ss {
    float: left;
    display: block;
    position: relative;
    width: 100%;
  }
  /*--- Flex Content ---*/
  .flex-sm-ss {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    box-sizing: border-box;
  }
  .flex-cc-ss {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  .flex-cl-ss {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
  }
  .flex-cr-ss {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
