@charset "utf-8";
@import url('uicons-brands/css/uicons-brands.css');
@import url('uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('uicons-solid-rounded/css/uicons-solid-rounded.css');
